.container {
  position: relative;
  & img {
    width: 100%;
  }

  & h1 {
    color: cadetblue;
    text-align: center;
  }
}

.topTen {
  position: absolute;
  display: block;
  top: 30px;
  left: 50px;
  background: #ffffff5e;

  &_author {
    font-weight: bold;
    color: #a52a2a82;
    font-family: cursive;
    font-size: 25px;
  }

  & h5 {
    color: #74dfbb;
    font-size: 26px;
  }
}
